.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

@media (min-width: 800px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }
}

.containerTable {
    height: 75%;
    width: 100%;
}

@media (min-width: 800px) {
    .containerTable {
        height: 100%;
    }
}

.lineAction{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    padding: 10px;
}
